<div class="container-fluid">

  <!-- hero -->

  <div id="home" class="row align-items-center hero scroll_section">
    <div class="col-lg-3 offset-lg-2">
    </div>
  </div>

  <!-- Noticias -->

  <div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
      <h2>NOVEDADES</h2>
      <ul class="lista-novedades">
        {{#each novedades}}
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img src="{{imagen}}"> {{titulo}} </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <!-- Modal -->

  {{#each novedades}}
  <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>{{titulo}}</h2>
          <h3>{{subtitulo}}</h3>
          <p>{{cuerpo}}</p>
          <img src="{{imagen}}" style="width: 70%;">
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <!-- Historia -->

  <div id="historia" class="row align-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
      <img src="./img/historia01.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>HISTORIA</h2>
      <p>'The Beatles' fue un grupo de rock británico, se formó en el año 1960 y se disolvió en 1970. Fueron muy
        influyentes en el movimiento contracultural de los 60s y es considerada una de las bandas más importantes de la
        historia de la música. Su sonido incorpora elementos de música clásica y pop de forma innovadora.</p>
    </div>
  </div>

  <!-- Discografía -->

  <div id="discografía" class="row align-items-stretch my-3 discos py-4 scroll_section">
    <div class="col-lg-8 offset-lg-2">
      <h2>DISCOGRAFÍA</h2>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="/img/disco01.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Please Please Me</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco02.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">With The Beatles</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco03.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">A Hard Day's Night</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco04.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Beatles for Sale</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco05.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Help!</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco06.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Rubber Soul</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco07.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Revolver</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco08.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Sgt. Pepper's</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco09.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Abbey Road</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/img/disco10.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Let It Be</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Visitanos -->

  <div id="conocenos" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
      <h2>VISITANOS</h2>
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1240.8217878032478!2d-0.18530095775190367!3d51.53809689756007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761a9f655050a7%3A0xad68731942cabda1!2sAbbey%20Rd.%2C%20London%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1718147753827!5m2!1ses!2sar"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!-- Contactanos -->
    
    <div class="col-md-4 mt-4 mt-sm-0">
      <h2>CONTACTANOS</h2>
      <form class="row g-3" action="/" method="post">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com">
        </div>
        <div class="col-12">
          <label for="tel" class="form-label">Tel</label>
          <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
        </div>
        <div class="col-12">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      {{message}}
    </div>
  </div>